.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-start;
  background-color: red;
  width: 45vw;
  height: 80vh;
}

.flex-item {
  border: 1px solid white;
  background-color: orange !important;
  padding: 1.3rem;
}

.big {
  width: 100px;
}

.bigger {
  width: 150px !important;
}

/*  
   flex container 
   alignement suivant l'axe principale
   alignement suivant l'axe secondaire

*/
