.flex-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 60vw;
  height: 50vh;
  background-color: rgb(219, 216, 216);
}

.flex-item {
  border: 1px solid white;
  background-color: orange;
  padding: 5px 15px;
}

.big {
  padding: 8px 20px;
  height: 25px;
  align-self: stretch;
}

.bigger {
  padding: 32px 24px;
  height: 50px;
  align-self: center;
}

/*  
   flex container 
   alignement suivant l'axe principale
   alignement suivant l'axe secondaire

*/
