.flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 60vw;
  height: 50vh;
  background-color: rgb(219, 216, 216);
}

.flex-item {
  border: 1px solid white;
  background-color: orange;
  padding: 5px 15px;
}

.big {
  flex-grow: 2;
}

.bigger {
  flex-grow: 4;
}

/*  
   flex container 
   alignement suivant l'axe principale
   alignement suivant l'axe secondaire

*/
