.parent {
  width: 400px;
  height: 400px;
  background-color: #ededff;
  border: 1px solid #210042;
}

.translate {
  /* transform: translate(50px, 60px); */
  width: 250px;
  height: 250px;
  background-color: #ffeded;
  border: 1px solid #420021;
}
